body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
}

#top {
    text-align: center;
}

#logo {
    color: white;
    background-color: rgb(211, 70, 94);
    display: inline-block;
    font-size: 32px;
    font-weight: bold;
    padding: 8px;
    margin-top: 16px;
}

#logo-name {
    font-size: 32px;
    font-weight: bold;
    margin:16px;
}

#navigation a {
    color: gray;
    padding: 8px;
}

#navigation a:hover {
    color: rgb(211, 70, 94);
}

#image img {
    width: 100%;
  height: 460px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#main {
    max-width: 800px;
    margin: auto;
    padding: 16px;
}

#footer {
    text-align: center;
    color: gray;
    padding: 16px;
}

